/* --- FONT FACE --- */

@font-face {
    font-family: 'Bebas';
    src: url('../font-face/BEBAS___-webfont.eot');
    src: url('../font-face/BEBAS___-webfont.eot?iefix') format('eot'),
         url('../font-face/BEBAS___-webfont.woff') format('woff'),
         url('../font-face/BEBAS___-webfont.ttf') format('truetype'),
         url('../font-face/BEBAS___-webfont.svg#webfontOJIfwzl6') format('svg');
    font-weight: normal;
    font-style: normal;

}
