/*** Drop Down Menu ************/
.sf-menu, .sf-menu * {
    margin:0;
    padding:0;
    list-style:none;
    color:black;
}

.sf-menu {
    line-height:1.0;
    
}
.sf-menu ul {
    position: absolute;
    top:-999em;
}

.sf-menu ul li { 
}

.sf-menu li:hover {
    visibility:        inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
    float:            left;
    position:        relative;
    font-size: 14px;
    
}
.sf-menu a {
    display:        block;
    position:        relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    left:            0;
    top:            2.5em; /* match top ul list item height */
    z-index:        99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
    top:            -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
    left: 100%;
    top:            0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
    top:            -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
    top:            0;
}

/*** Theme skin ****************************/
.sf-menu {
    float:right;
    z-index:99;
    
    
}
.sf-menu  a,
#navigation .sf-menu  a:visited {
    margin-left:10px;
    text-decoration: none;
    font-size: 14px;
    color:#fff;
    text-shadow: 0 1px 0 #000;
    height: 40px;
    line-height: 40px;
    padding: 0px 18px 0px 18px;
    font-style: normal;
    background-image:url('../images/nav-bg.png');
    background-repeat:repeat-x;
    background-position:top left;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
}
.sf-menu a:hover {
    color: #ffffff;
    text-decoration: none;
    background-image:url('../images/nav-on.png');
    background-repeat:repeat-x;
    background-position:top left;
}
.sf-menu li.current-menu-parent > a, .sf-menu li.current-menu-item > a {

}

.sf-menu li ul {
    margin-left:10px;
}

.sf-menu li ul a, .sf-menu li ul a:visited, .sf-menu li ul a:hover {
    background-image:none;
    background-color:transparent;
    font-size: 14px;
    padding-left:8px;
    text-align:left;
    list-style-type: none;
    color:#fff;
    height: 40px !important;
    line-height: 40px !important;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

/* Figure out this child stuff */

.sf-menu ul li {
    border-bottom: 1px solid;
}

.sf-menu ul li ul li, .sf-menu ul li ul li:last-child {
    background-image:url('../images/nav-child-bg-3.png');
    background-repeat:repeat-y;
    background-position:top left;
    }

.sf-menu ul li:first-child {
    background-image: url('../images/nav-child-bg.png');
    background-repeat: repeat-x;
    background-position: top left !important;
    border-bottom: 1px solid;
}

.sf-menu ul li:last-child {
    background-image: url('../images/nav-child-bg-2.png');
    background-repeat: repeat-x;
    background-position: bottom left !important;
    border-bottom: none;
}

.sf-menu li li ul a, .sf-menu li li ul a:visited, .sf-menu li li ul a:hover {
    
    font-size: 14px;
    padding-left:8px;
    text-align:left;
    list-style-type: none;
    color:#fff;
    height: 40px !important;
    line-height: 40px !important;
}
.sf-menu li {
    
}
.sf-menu li li {
    white-space:nowrap;
    float: none;
}
.sf-menu li li li {
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
    color: white;
}
.sf-menu ul {
}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
    min-width: 150px;
    
}
.sf-menu > li:hover > ul,
.sf-menu > li.sfHover > ul {
    padding-top:28px;
    padding-bottom:20px;
    background-image: url('../images/nav-btm.jpg');
    background-repeat:repeat-x;
    background-position:bottom left;
    z-index:999;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-box-shadow: 0 2px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 2px 0px rgba(0,0,0,0.5);

}
.sf-menu > li:hover > ul > li{

}
.sf-menu li li li {

    border-collapse: collapse;
}
.sf-menu li li ul li:first-child {
}
.sf-menu ul ul {
    margin-top:0;
    margin-left:0px;
}