/* Metabox */

.tf-meta {  }
.tf-meta ul li { height: 20px; clear:both; margin: 0 0 15px 0;}
.tf-meta ul li label { width: 100px; display:block; float:left; padding-top:4px; }
.tf-meta ul li input { width:125px; display:block; float:left; }
.tf-meta ul li em { display:block; float:left; color:gray; margin-left:10px; padding-top: 4px}

/* Columns CPT Food */

th#tf_col_menu_id{width:60px;}
th#tf_col_menu_order{width:60px}
td.tf_col_menu_id{color:gray;text-align:right;}
td.tf_col_menu_order{color:#219b38;text-align:right;}
th#tf_col_menu_thumb{ width: 55px; }
td.column-tf_col_menu_thumb { padding: 2px 0 !important; }
td.tf_col_menu_thumb img{border:1px solid #d8d8d8}
th#tf_col_menu_cat,th#tf_col_menu_title,th#tf_col_menu_size{width:150px}

/* Columns CPT Events */

th#tf_col_ev_date, th#tf_col_ev_cat {width:150px}
td.tf_col_ev_date em{color:gray;}
th#tf_col_ev_times{width:150px}
th#tf_col_ev_thumb{width:100px}

th#tf_col_menu_order{width:60px}
td.tf_col_menu_id{color:gray;text-align:right;}
td.tf_col_menu_order{color:#219b38;text-align:right;}
th#tf_col_menu_cat,th#tf_col_menu_title,th#tf_col_menu_size{width:150px}

.tf_sortable_admin_row_handle { width: 40px; height: 40px; margin-top: 3px; background: red; display: block; background: url(../images/row-resize.gif); opacity: .5 }
.tf_sortable_admin_row_handle:hover { opacity: .7; cursor: move; }
th.column-tf_sortable_column { width: 60px; }

.inline-edit-row.inline-edit-tf_foodmenu .colspanchange { padding: 0; }
.inline-edit-row.inline-edit-tf_foodmenu .tf-quickedit-header { background: blue; overflow: hidden; }
.inline-edit-row.inline-edit-tf_foodmenu .width-item { float: left; width: 40%; }
.inline-edit-row.inline-edit-tf_foodmenu .width-cat { float: left; width: 20%; }
.inline-edit-row.inline-edit-tf_foodmenu .width-image { float: left; width: 10%; }
.inline-edit-row.inline-edit-tf_foodmenu .width-desc { float: left; width: 30%; }