#tf-slider-list {
    list-style: none;
}

#tf-slider-list li {
    margin:10px 0;
    padding:10px;
    border:1px #DFDFDF solid !important;
    overflow:auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width:700px;
}

#tf-slider-list li h4 {
    font-size:26px !important;
}

#tf-slider-list li .handle {
    display:block !important;
    background: transparent url('../images/row-resize-blue.png') top left no-repeat;
    width:24px;
    min-height:24px;
    margin-bottom: 10px;
    cursor: move;
}

#tf-slider-list .slider-controls {
    float:left;
    width:30px;
    margin-right:3px;
}

#tf-slider-list .slider-thumbnail {
    float:left;
    border:1px #DFDFDF solid !important;
    display:block;
    width:250px;
    height:100px;
    margin-right:10px;
}

#tf-slider-list .slider-content {
    float:left;
    display:block;
    min-width:360px;
}

#tf-slider-list .slider-content h3 {
    margin-top:0px;
}

#tf-slider-list .slider-content h3, p {
    text-shadow:0 2px #fff;
}

#tf-slider-list .slider-edit {
    display:block;
    cursor: pointer;
    margin-bottom: 10px;
    width:24px;
    height:24px;
    background: transparent url('../images/slider-edit.png') top right no-repeat;
}

#tf-slider-list .slider-delete {
    display:block;
    cursor: pointer;
    width:24px;
    height:24px;
    background: transparent url('../images/slider-delete.png') top right no-repeat;
}

#tf-slider-list .slider-content span {
    cursor: pointer;
    display:inline;
}

#tf-slider-list .slider-content textarea, #tf-slider-list .slider-content input {
    width:340px;
    margin:0;
    padding:10px;
}

#tf-slider-list .ui-state-highlight {
    height:40px;
    background:#eafbea !important;
}

#add-tf-slider label {
    padding:5px;
    display:block;
    float:left;
    width:200px;
    text-shadow:0 1px #fff;
    color:#676767;
}

#add-tf-slider input, textarea, select {
    padding:10px;
    min-width:200px;
}

#add-tf-box {
    border:1px #DFDFDF solid;
    width:700px;
    padding:10px;
    background:#efefef;
    margin-bottom:20px;
}

#add-tf-box strong {
    display:block;
    font-size:16px;
    color:gray;
    padding:10px 5px 20px;
    border-bottom:1px solid #d3d3d3;
    margin-bottom:20px;
}

#add-tf-box .input-row {
    margin-bottom:10px;
    display:block;
}

#add-tf-box .input-row span {
    font-style:italic;
    color:gray;
    margin-top:5px;
    margin-left:210px;
    display:block;
    font-size:11px;
}

#add-tf-box .required {
    display:inline;
    font-size:20px;
    padding-left:5px;
    color:#21759b;
    line-height:10px;
}